body{
    margin:0;
    padding:0;
    background-image: url("bg1.jpg");
    background-size: cover;
    /*-moz-background-size: cover;
    -o-background-size: cover;
    background-image: url(background.jpeg);*/
    font-family: sans-serif;
}

.box{
    background: #f5f5f5;
    color:red;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-style: solid;
    border-color: #673ab7;
    border-width: 1.5px;
    /*border: 3px solid color;*/
}

.user{
    width: 100 px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-radius: 50px;
}

h1{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 22 px;
    color: black;
}

p{
    color: purple;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
input{
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"],input[type="password"],input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #673ab7;
    font-size: 16px;
}

input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
  margin-top: 10px;
    background: #2196f3;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

input[type="submit"]:hover{
    cursor: pointer;
    background: purple;
}

#errorbox{
    text-decoration: none;
    color: red;
}

a{
    color: green;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

a:hover{
    color: red;
}